<div class="container">
  <abp-card class="p-2 text-center">
    <abp-card-body>
      <h2 class="p-2">{{ '::Welcome' | abpLocalization }}</h2>
      <p class="lead px-lg-5 mx-lg-5">{{ '::LongWelcomeMessage' | abpLocalization }}</p>

      <h2 class="p-2">{{ '::ProjectOverview' | abpLocalization }}</h2>
      <p class="lead px-lg-5 mx-lg-5">
        OptimusMap is designed to optimize camera installation locations for crime and traffic monitoring. By analyzing
        data and generating heatmaps of hotspots, OptimusMap provides recommendations to clients on where to install
        cameras within an area, city, or municipality.
      </p>
      <h2 class="p-2">📊 Key Features</h2>
      <ul class="list-unstyled lead px-lg-5 mx-lg-5">
        <li>🌐 Comprehensive analysis of crime and traffic data</li>
        <li>🔥 Heatmaps highlighting high-priority areas</li>
        <li>📍 Camera location recommendations for optimal coverage</li>
      </ul>

      <h2 class="p-2">👮 Target Audience</h2>
      <p class="lead px-lg-5 mx-lg-5">
        Our primary clients are police departments seeking to enhance their surveillance capabilities through strategic
        camera placement.
      </p>

      <h2 class="p-2">🌟 Benefits</h2>
      <ul class="list-unstyled lead px-lg-5 mx-lg-5">
        <li>🔒 Improved crime prevention and detection</li>
        <li>🚦 Enhanced traffic monitoring and management</li>
        <li>📈 Data-driven decisions for camera installations</li>
      </ul>
    </abp-card-body>
  </abp-card>

  <div class="mb-5 text-center">
    <p class="align-middle">
      <a href="https://genetec.atlassian.net/wiki/spaces/AutoVuRnD/pages/616858170/Optimus+Map" target="_blank"
        class="mx-2">
        <i class="fa fa-solid fa-book" aria-hidden="true"></i>
        <span class="text-secondary">
          Documentation</span></a>
      <a href="https://github.com/abpframework/abp" target="_blank" class="mx-2"><i class="fa fa-solid fa-cloud"
          aria-hidden="true"></i><span class="text-secondary"> Repository</span></a>
    </p>
  </div>
</div>